#sms_form{
    display: none;
}
textarea{
    background: #fff;
	border: 5px solid #CC463A;
	resize: none;
    line-height: 22px;
    padding: 10px;
}
#sms_form input[type="submit"]:hover{
    cursor: pointer;
}
#sms_form input[type="submit"]{
	width: 100px;
	margin-left: 49px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #cc463a;
    color: white;
    margin-top: -3px;
}
#sms_field{
    position: fixed;
    top: 0;
	width: 200px;
    z-index: 500;
}
#sms_button{
	margin-left: -2px;
}
#sms_button{
    background: #CC463A;
    padding: 13px;
}